<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	    <title>附件列表</title>
	    <link rel="stylesheet" type="text/css" href="../css/appstyles.css">
		<script type="text/javascript" src="../js/jquery.js"></script>
		<script type="text/javascript" src="../js/iscroll.js"></script>
		<script type="text/javascript" src="../js/lAapp.js"></script>
	</head>
	<body>
		<div class="view">
			<!--header begin-->
			<header class="header clearfix">
				<div class="TopL"></div>
				<div class="TopM aligncenter"><span class="font17">附件列表</span></div>
				<div class="TopR" id="Search"><span class="inlineblock font14 quit">取 消</span></div>
			</header>
			<!--header over-->
			<div class="content" id="wrapper">
				<div id="scroller">
					<div class="editMain">
						<ul class="editList process workovertime attachment p-top10">
							<li class="choose">
								<div class="LiOut">
									<div class="Userprocess txt_hidden clearfix">
										<span class="floatleft"><img src="../img/fu_bmp.gif"></span>
										<span>工作汇总报告.doc</span>
										<span class="floatright">王振佳</span>
									</div>
								</div>
							</li>	
							<li class="choose">
								<div class="LiOut">
									<div class="Userprocess txt_hidden clearfix">
										<span class="floatleft"><img src="../img/fu_docx.gif"></span>
										<span>工作汇总报告.doc</span>
										<span class="floatright">王振佳</span>
									</div>
								</div>
							</li>	
						</ul>	
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
