<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	    <title>附件</title>
	    <link rel="stylesheet" type="text/css" href="../css/appstyles.css">
		<script type="text/javascript" src="../js/jquery.js"></script>
		<script type="text/javascript" src="../js/iscroll.js"></script>
		<script type="text/javascript" src="../js/lAapp.js"></script>
	</head>
	<body>
		<div class="maskOver maskOverbg" style="display:block;">
			<div class="maskIN aligncenter">
				<p><img src="../img/loading.gif" width="81"/></p>
				<p class="color-8">努力加载中...</p>
			</div>
		</div><!--最上层的放置点击遮罩层-->
		<div class="view">
			<!--header begin-->
			<header class="header clearfix">
				<div class="TopL"><span class="BtnIcon Back"></span></div>
				<div class="TopM aligncenter"><span class="font17">工作总结</span></div>
				<div class="TopR" id="Search"></div>
			</header>
			<!--header over-->
			<div class="content">
				<iframe frameborder="0" width="100%" height="100%" class="attachment-frame">
					
				</iframe>
			</div>
		</div>
	</body>
</html>
