<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	    <title>我的审批</title>
	    <link rel="stylesheet" type="text/css" href="../css/appstyles.css">
		<script type="text/javascript" src="../js/jquery.js"></script>
		<script type="text/javascript" src="../js/iscroll.js"></script>
		<script type="text/javascript" src="../js/lAapp.js"></script>
	</head>
	<body>
		<div class="view">
			<div class="content" id="wrapper" style="bottom:45px;">
				<div id="scroller">
					<!--form begin-->
					<div class="formOut">
						<section class="form">
							<header class="clearfix">
								<span class="userimg floatleft"><img src="../img/cdm.jpg"></span>
								<span class="name font15 color-6">Ray.Zhang</span>
								<span class="font12 color-8">产品经理</span>
							</header>
							<table>
								<tr>
									<th>申请编号 :</th>
									<td>BT-2014-0006</td>
								</tr>
							</table>
							<table>
								<tr>
									<th>申请部门 :</th>
									<td>产品设计部</td>
								</tr>
							</table>
							<table>
								<tr>
									<th>申请日期 :</th>
									<td>2014-6-16</td>
								</tr>
							</table>
							<table>
								<tr>
									<th>出差地点点点 :</th>
									<td>夏威夷</td>
								</tr>
							</table>
							<table>
								<tr>
									<th>出差日期 :</th>
									<td>2014-7-1 至 2014-8-1</td>
								</tr>
							</table>
							<table>
								<tr>
									<th>出差事由 :</th>
									<td>为了防止世界被破坏，为了守护世界和平!</td>
								</tr>
							</table>
							<table>
								<tr>
									<th>出差地点 :</th>
									<td>夏威夷</td>
								</tr>
							</table>
							<table>
								<tr>
									<th>出差日期 :</th>
									<td>2014-7-1 至 2014-8-1</td>
								</tr>
							</table>
							<table>
								<tr>
									<th>出差事由 :</th>
									<td>为了防止世界被破坏，为了守护世界和平!</td>
								</tr>
							</table>
							<table>
								<tr>
									<th>备注 :</th>
									<td>
										<pre>咨询列表页过滤器标签不准确<br>咨询列表页过滤器标签不准确</pre>
									</td>
								</tr>
							</table>
							<table>
								<tr>
									<th>附件 :</th>
									<td><span class="color-cb"><i class="BtnIcon Icon-neex"></i>点击查看</span></td>
								</tr>
							</table>
						</section>
						<section class="form mart5">
							<header class="nopadding clearfix">
								<span class="nopadding color-6">审批流程</span>
							</header>
							<table>
								<tr>
									<td width="30%">Ray.Zhang</td>
									<td>进行审批</td>
									<td>2014-02-17 09:35</td>
								</tr>
								<tr>
									<td width="30%">Ray.Zhang</td>
									<td>进行审批</td>
									<td>2014-02-17 09:35</td>
								</tr>
								<tr class="nowstep">
									<td width="30%">Ray.Zhang</td>
									<td>进行审批</td>
									<td>2014-02-17 09:35</td>
								</tr>
							</table>
						</section>
						<!--form over-->
					</div>
				</div>
			</div>
			<!--右侧扇形菜单 begin-->
			<div class="BottomRbox clearfix">
				<div class="btn btn1 btnline"><i class="BtnIcon Icon-ok"></i><br><span>通过</span></div>
				<!--<div class="btn btn2"><i class="BtnIcon Icon-no"></i><br><span>否决</span></div>
				<div class="btn btn3"><i class="BtnIcon Icon-return"></i><br><span>回退</span></div>
				<div class="btn btn4"><i class="BtnIcon Icon-turn"></i><br><span>转审</span></div>-->
			</div>
			<!--右侧扇形菜单 over-->
		</div>
	</body>
</html>
