<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	    <title>我的审批</title>
	    <link rel="stylesheet" type="text/css" href="../css/appstyles.css">
		<script type="text/javascript" src="../js/jquery.js"></script>
		<script type="text/javascript" src="../js/iscroll.js"></script>
		<script type="text/javascript" src="../js/lAapp.js"></script>
	</head>
	<body>
		<div class="view">
			<!--header begin-->
			<header class="header clearfix">
				<div class="TopL"><span class="BtnIcon Back"></span></div>
				<div class="TopM aligncenter"><span class="font17">表单申请-转审</span></div>
				<div class="TopR" id="Search"></div>
			</header>
			<!--header over-->
			<div class="content" id="wrapper">
				<div id="scroller">
					<div class="textM">
						<p class="font14 color-8">填写审批意见</p>
						<textarea class="mart10"></textarea>
					</div>
					<span class="nextstep zs-btn aligncenter font18 mart20">确认转审</span>
					<span class="nextstep ht-btn aligncenter font18 mart20">确认回退</span>
					<span class="nextstep fj-btn aligncenter font18 mart20">确认否决</span>
					<span class="nextstep fj-crrose aligncenter font18 mart20">确认通过</span>
				</div>
			</div>
		</div>
	</body>
</html>
